modules = ["python-3.12", "web", "bash", "postgresql-16"]
run = "flask run --host=0.0.0.0 --port=5000"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python run.py"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 3030121
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run.py"
