{% extends "admin/admin_base.html" %}
{% import "macros/bootstrap_wtf.html" as wtf %}

{% block admin_content %}
<div class="container mt-4">
    <h2>{{ title }}</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="" novalidate>
                {{ form.hidden_tag() }}
                {{ wtf.render_field(form.name, class='form-control', placeholder='카테고리 이름을 입력하세요') }}
                <div class="d-flex mt-3 gap-2">
                    <button type="submit" class="btn btn-primary">저장</button>
                    <a href="{{ url_for('admin.admin_categories') }}" class="btn btn-secondary">취소</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
